<% content_for :title do %>
  <%= t('.title') %>
<% end %>

<div class="border border-primary-c">
  <h2><%= t('.change_your_password') %></h2>

  <%= form_with(model: resource, scope: resource_name, url: password_path(resource_name), html: { method: :put }, local: true) do |f| %>
    <%= render "users/shared/error_messages", model: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group row">
      <%= f.label :password, t('.new_password'), class: "col-sm-2 col-form-label" %>
      <div class="col-sm-5">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control border-dark" %>
      </div>
      <p class="help-block small">
        <%= t('infos.messages.password_complexity') %>
      </p>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, t('.confirm_new_password'), class: "col-sm-2 col-form-label" %>
      <div class="col-sm-5">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border-dark" %>
      </div>
      <p class="help-block small"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></p>
    </div>

    <div class="form-group row">
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary btn-lg"><%= t('.change_my_password') %></button>
      </div>
    </div>

  <% end %>
</div>

<%= render "users/shared/links" %>
